<div class="buy-page-container">
  <div class="buy-menu-container">
    <h1>
      <mat-icon>library_add</mat-icon>
      Buy
    </h1>
    <div class="btn-list">
      <div class="btn-list-item">
        <button
          mat-raised-button
          color="primary"
          routerLink="/shared/add-import"
          routerLinkActive="active"
        >
          <mat-icon>input</mat-icon>
          Import
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="btn-list-item">
        <button
          mat-raised-button
          color="primary"
          routerLink="/shared/add-purchase"
          routerLinkActive="active"
        >
          <mat-icon>shopping_cart</mat-icon>
          Purchase
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="btn-list-item">
        <button
          mat-raised-button
          color="primary"
          routerLink="/shared/add-item-batch"
          routerLinkActive="active"
        >
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
