<div class="pageContainer">
  <div class="header-row">
    <div>
      <button
        mat-mini-fab
        color="warn"
        aria-label="Cancel button"
        (click)="cancelBtnOnClicked()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="title">
      <mat-icon>add</mat-icon>
      <h1>Add Stock</h1>
    </div>
    <div>&nbsp;</div>
  </div>
  <mat-progress-bar
    [mode]="pBarMode"
    *ngIf="dataIsLoading"
    class="dtlPBar"
  ></mat-progress-bar>
  <mat-horizontal-stepper
    linear
    #stepper
  >
    <mat-step [stepControl]="addFormStep1">
      <form
        [formGroup]="addFormStep1"
        class="addFormStep"
      >
        <ng-template matStepLabel>Stock Info</ng-template>
        <p class="stepDesc">Please fill the following and press next.</p>
        <mat-form-field appearance="fill">
          <mat-label>Product</mat-label>
          <mat-select formControlName="productId">
            <mat-option
              *ngFor="let prod of products"
              [value]="prod.id"
            >
              {{prod.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            formControlName="qty"
            [value]="item.qty"
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{unitLbl}}</mat-label>
          <mat-select formControlName="unitId">
            <mat-option
              *ngFor="let punit of productUnits"
              [value]="punit.id"
            >
              {{punit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!addFormStep1.valid"
          >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addFormStep2">
      <form
        [formGroup]="addFormStep2"
        class="addFormStep"
      >
        <ng-template matStepLabel>Source Info</ng-template>
        <p class="stepDesc">Please select/add a source and press next.</p>
        <mat-form-field appearance="fill">
          <mat-label>Source Type</mat-label>
          <mat-select formControlName="sourceType">
            <mat-option
              *ngFor="let ibst of itemBatchSourceTypes"
              [value]="ibst.value"
            >
              {{ibst.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{sourceLbl}}</mat-label>
          <input
            type="text"
            matInput
            placeholder="Source of the stock being added"
            aria-label="Source of the stock being added"
            formControlName="sourceId"
            [matAutocomplete]="autoSource"
          >
          <mat-autocomplete
            #autoSource="matAutocomplete"
            [displayWith]="sourceDisplayFn.bind(this)"
          >
            <mat-option
              *ngFor="let source of filteredSources"
              [value]="source.id"
            >
              {{source.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-raised-button
            matStepperPrevious
            color="primary"
            [disabled]="!addFormStep2.valid"
          >Back</button>
        </div>
        <div>
          <button
            type="submit"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!addFormStep2.valid"
          >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addFormStep3">
      <form
        [formGroup]="addFormStep3"
        class="addFormStep"
      >
        <ng-template matStepLabel>Transaction Info</ng-template>
        <p class="stepDesc">Please select/add a transaction and press next.</p>
        <div>
          <button
            type="submit"
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!addFormStep3.valid"
          >Next</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
