<div class="bigPageTitle">
  <div>
    <mat-icon class="titleIcon">library_add</mat-icon>
  </div>
  <div class="titleText">Buy</div>
</div>
<div class="buttonsRow">
  <button
    mat-raised-button
    color="primary"
    class="bigButton"
  >
    <div class="bigButtonContent">
      <mat-icon class="bigButtonIcon">input</mat-icon>
      <div class="bigButtonText">Import</div>
    </div>
  </button>
  <button
    mat-raised-button
    color="primary"
    class="bigButton"
  >
    <div class="bigButtonContent">
      <mat-icon class="bigButtonIcon">shopping_cart</mat-icon>
      <div class="bigButtonText">Purchase</div>
    </div>
  </button>
  <button
    mat-raised-button
    color="primary"
    class="bigButton"
  >
    <div class="bigButtonContent">
      <mat-icon class="bigButtonIcon">add</mat-icon>
      <div class="bigButtonText">Add</div>
    </div>
  </button>
</div>
