@import "../../assets/style/global/variables.scss";

$titleIconSize: 25vw;
$maxTitleIconSize: 256px;

$titleTextSize: 25vw;
$maxTitleTextSize: 256px;

$bigButtonSize: 21vw;
$maxBigButtonSize: 210px;

$bigButtonIconSize: 10vw;
$maxBigButtonIconSize: 100px;

$bigButtonTextSize: 5vw;
$maxBigButtonTextSize: 50px;

.bigPageTitle {
  width: 100%;
  margin-top: 5vw;
  margin-bottom: 10vw;

  display: flex;
  justify-content: center;
}

.titleIcon {
  width: $titleIconSize;
  max-width: $maxTitleIconSize;
  height: $titleIconSize;
  max-height: $maxTitleIconSize;
  font-size: 0.75 * $titleIconSize;
  color: lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText {
  height: $titleTextSize;
  max-height: $maxTitleTextSize;
  font-size: 0.75 * $titleTextSize;
  color: $themeColor_light;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsRow {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.bigButton {
  // width: $bigButtonSize;
  // height: $bigButtonSize;
  // background-color: $themeColor_light;
}

.bigButtonContent {
  width: $bigButtonSize;
  max-width: $maxBigButtonSize;
  height: $bigButtonSize;
  max-height: $maxBigButtonSize;
  margin-top: 2vw;
  margin-bottom: 1vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigButtonIcon {
  width: $bigButtonIconSize;
  max-width: $maxBigButtonIconSize;
  height: $bigButtonIconSize;
  max-height: $maxBigButtonIconSize;
  font-size: $bigButtonIconSize;
  margin-bottom: 1vw;
  // color: grey;
}

.bigButtonText {
  // width: $bigButtonTextSize;
  // height: $bigButtonTextSize;
  font-size: $bigButtonTextSize;
  // color: white;
}
