<div class="detailsContainer">
  <div class="header-row">
    <div>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Back button"
        (click)="backBtnOnClick()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div>
      <h1>Item Details</h1>
    </div>
    <div>
      <button
        mat-mini-fab
        color="warn"
        aria-label="Edit button"
        (click)="editBtnOnClicked()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-bar
    [mode]="pBarMode"
    *ngIf="apiRequestsCount > 0"
    class="dtlPBar"
  ></mat-progress-bar>
  <div
    class="dtlFields"
    *ngIf="apiRequestsCount === 0 && item!==null && products!==null"
  >
    <div class="dtlField">
      <div class="dtlLabel">Product</div>
      <div class="dtlValue">{{product?.name}}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="dtlField">
      <div class="dtlLabel">ID</div>
      <div class="dtlValue">{{item?.id}}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="dtlField">
      <div class="dtlLabel">Price</div>
      <div class="dtlValue">{{item?.price | currency:'Rs '}}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="dtlField">
      <div class="dtlLabel">Quantity</div>
      <div class="dtlValue">{{item?.qty}}</div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="footer-row">
    <div>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="backBtnOnClick()"
      >
        <mat-icon>arrow_back</mat-icon>
        Back to List
      </button>
    </div>
    <div>
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="editBtnOnClicked()"
      >
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </div>
  </div>
</div>
