@import "../../../assets/style/global/variables.scss";

.list-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.il-table {
  max-width: 720px;
  width: 100%;
}

.mat-row:hover {
  background-color: $themeColor_light;
}

.mat-row:active {
  background-color: $themeColor;
}

.btnCol {
  width: 48px;
}
