<div class="list-container">
  <div class="header-row">
    <div></div>
    <div>
      <h1>Items List</h1>
    </div>
    <div>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Add button"
        (click)="addBtnOnClicked()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-bar
    [mode]="pBarMode"
    *ngIf="apiRequestsCount > 0"
    class="dtlPBar"
  ></mat-progress-bar>
  <table
    mat-table
    [dataSource]="items"
    class="mat-elevation-z8 il-table"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
      > {{displayedColumnsTxt[0]}} </th>
      <td
        mat-cell
        *matCellDef="let element"
      >
      <strong>{{element.item.id}}</strong>
    </td>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="prodId">
      <th
        mat-header-cell
        *matHeaderCellDef
      > {{displayedColumnsTxt[1]}} </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.products[0].name}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="qty">
      <th
        mat-header-cell
        *matHeaderCellDef
      > {{displayedColumnsTxt[3]}} </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.item.qty}} {{element.productUnits[0].name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th
        mat-header-cell
        *matHeaderCellDef
      > {{displayedColumnsTxt[2]}} (Rs) </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.item.price}} </td>
    </ng-container>

    <!-- Buttons Column -->
    <!-- <ng-container matColumnDef="buttons">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-label="Buttons column"
        class="btnCol"
      > {{displayedColumnsTxt[3]}} </th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <button
          mat-icon-button
          color="accent"
          aria-label="Edit button"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row.item.id)"
    ></tr>
  </table>
  <div class="list-footer">
    <div>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="addBtnOnClicked()"
      >
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </div>
  </div>
</div>
