/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: 100%;
  display: flex;
}

// Test Styles

.test-borders {
  border: solid orange;
}

.test-borders * {
  border: solid orange;
}
