/* You can add global styles to this file, and also import other style files */

@import "assets/style/global/variables.scss";

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: 100%;
  display: flex;
}

// Test Styles

.test-borders {
  border: solid orange;
}

.test-borders * {
  border: solid orange;
}

// Background Color Classes

.bg_theme {
  background-color: $themeColor;
  color: white;
}

.bg_lightTheme {
  background-color: $themeColor_light;
  color: black;
}

.bg_info {
  background-color: $infoColor;
  color: black;
}

.bg_warn {
  background-color: $warnColor;
  color: white;
}

.bg_darkGrey {
  background-color: $darkGreyColor;
  color: white;
}

.bg_success {
  background-color: $successColor;
  color: white;
}
